// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// Default variable overrides
// $body-bg: #000;
// $body-color: #111;

:root {
  --bs-font-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  --bs-font-serif: "Source Serif Pro", Georgia, serif;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: var(--bs-font-serif);
  font-weight: 600;
  text-transform: capitalize;
}
h3 {
  font-size: 1.5rem;
}

.card {
  border: none;

  --bs-card-spacer-x: 0;
  --bs-card-inner-border-radius: 0;

  .card-body {
    .card-title {
    }
  }
}
